@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Montserrat:wght@600;700&display=swap');

:root {
    --purple-light:#6C63FF;
    --purple-lighter: #AB96FF;
    --purple-title: #5449FF;

    --gray-light: #cdcdcd;
    --gray-lighter: #c0c0c0;
    --black: #000;

    
    --escuro: #212121;
    --cor:#8257E6;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
