.main {
  padding: 24px;
}

.containerTitle {
  margin-top: 32px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
}

.containerSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 24px auto;
}

.containerContact{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}