.main {
  padding: 24px;
}

.containerBanner{
   max-width: 1440px;
   margin: auto;
}

.containerAbout{
  @media(min-width: 1024px){
    max-width: 1440px;
    margin: auto;
  }
}

.containerTitle {
  margin-top: 32px;
  margin-bottom: 5em;

  @media(min-width: 1440px){
    margin-bottom: 7em;
  }

}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;

  @media(min-width: 767px){
    font-size: 32px;
  }

  @media(min-width: 1024px){
    font-size: 24px;
  }

  @media(min-width: 2560px){
  font-size: 32px; 
  }
}

.containerSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 24px auto;

  @media(min-width: 767px){
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
  }

  @media(min-width: 1024px){
    max-width: 1440px;
    margin: auto;
  }
}

.containerContact{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;

  @media(min-width: 1024px){
    justify-content: space-evenly;
    max-width: 1440px;
    margin: auto;
  }

  @media(min-width: 1440px){
    justify-content: space-evenly;
  }
}

.highlight{

  @media(min-width: 767px){
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media(min-width: 1024px){
    max-width: 1440px;
    margin: auto;
  }
}
