.container{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;


  @media(min-width: 767px){
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media(min-width: 1024px){
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
    height: 40em;
  }
  @media(min-width: 2560px){
    height: 60vh;
  }
}

.image{
  width: 100%;

  border-radius: 50%;
  height: auto;

  @media(min-width: 375px){
    width: 70%;
  }

  @media(min-width: 767px){
    width: 60%;
  }

  @media(min-width: 1024px){
    width: 30%;
  }

  @media(min-width: 2560px){
    width: 30%;
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #000;
  padding-top: 16px;

  @media(min-width: 375px){
    font-size: 40px;
  }

  @media(min-width: 767px){
    width: 100%;
    font-size: 40px;
  }

  @media(min-width: 1024px){
    font-size: 32px;
  }

  @media(min-width: 2560px){
  font-size: 56px; 
  }
}

.name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #6C63FF;
  padding-top: 16px;

  @media(min-width: 375px){
    font-size: 40px;
  }

  @media(min-width: 767px){
    font-size: 40px;
  }

  @media(min-width: 1024px){
    font-size: 32px;
  }

  @media(min-width: 2560px){
   font-size: 56px; 
  }
}

.role {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;

  @media(min-width: 767px){
    font-size: 32px;
  }

  @media(min-width: 1024px){
    font-size: 24px;
  }

  @media(min-width: 2560px){
  font-size: 32px; 
  }
}

.arrow{
  color: #6C63FF;
}

.buttonsAction{
  width: 100%;
  border-radius: 50em;
  padding: 8px;
  text-decoration: none;

  @media(min-width: 1024px){
    width: 45%;
  }

  @media(min-width: 2560px){
  width: 45%; 
  }
}

.buttons{
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 16px;

  @media(min-width: 375px){
    gap: 0.5em;
  }

  @media(min-width: 767px){
    gap: 1em;
    font-size: 24px;
  }

  @media(min-width: 1024px){
    font-size: 14px;
    gap: 2.5em;
  }
  @media(min-width: 2560px){
   font-size: 16px; 
   margin-top: 1em;
  }
}

.cv{
  background: rgb(108,99,255);
background: linear-gradient(90deg, rgba(108,99,255,1) 0%,  #A40EE4 92.32%);
  color: #fff;

  @media(min-width: 1024px){
    padding: 10px;
  }
}

.cv:hover, .cv:active{
background: #AB96FF;
}

.contato{
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgba(108,99,255,1) 0%,  #A40EE4 92.32%) border-box;
	border: 3px solid transparent;
  color: #000;
}

.contato:hover, .contato.active{
  background: #AB96FF;
  color: #fff;
}



// @media(min-width: 1024px){}